<html>
    <head>
        <title>Bereslim</title>
    </head>
    <h1>Bereslim BV</h1>
    <h2>dé aanbieder van pedagogisch verantwoorde computerspellen voor peuters en kleuters. Tot het aanbod behoren digitale prentenboeken, leerzame taalspellen en spellen die een goede taakaanpak stimuleren.</h2>

            <div>
                <h1>In deze weblog laten we zien waarmee het Bereslimteam bezig is. </h1>
                <h2><a href="">Bereslim Blog</a></h2>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">Onze eerste blogpost!</a></h2>
                <p>Vandaag heeft Sarah leren programmeren met Django Girls Groningen.</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">Tweede blogpost</a></h2>
                <p>We hebben een nieuw digitaal prentenboek: Zwaan zoekt een vriendje!</p>
            </div>
        </body>
    </html>
